/**
 * ORANGE: #FF8C00 
 * LIME GREEN: #C5F04E
 * GREY: #AAAAAA
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

.title-activity::before {
  content: ' ';
  background-image: url('../images/icon-fitness-log-25x25-orange-outline.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  right: 0;
  top: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 auto;
}
.calendar-container {
  margin: 75px 1rem 1rem 1rem;
}

.calendar-month-bar {
  color: #ff8c00;
  display: flex;
  padding: 10px 0;
}

.calendar-month-bar > * {
  flex: 1;
}

.calendar-month-bar button {
  background: transparent;
  border: transparent;
  color: transparent;
  text-align: center;
  /* padding: 10px 0; */
}

.calendar-month-bar button:first-of-type {
  background-image: url('../images/icon-chevron-left-25x25-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.calendar-month-bar button:last-of-type {
  background-image: url('../images/icon-chevron-right-25x25-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.calendar {
  border: 1px solid #ff8c00;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.calendar-item {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
}

.calendar-item.day {
  color: #ff8c00;
  margin-bottom: 10px;
}

.calendar-item.date {
  /* height: 55px; */
}

.calendar-item.current-date {
  color: #ff8c00;
}

.selected-date {
  background: #ff8c00;
  padding: 1px 9px;
  border-radius: 100%;
}

.calendar-item.for-load-border {
  border: 1px solid #a796e7;
}

.calendar-item.for-time-border {
  border: 1px solid #b7e6ce;
}
.calendar-item.amrap-border {
  border: 1px solid #00bfff;
}

.modality-indicator-container {
  margin: -10px 0 -5px;
}

.modality-indicator {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.modality-indicator.w {
  background-color: #00ffff;
}
.modality-indicator.g {
  background-color: #ba55d3;
}
.modality-indicator.m {
  background-color: #ff6347;
}
