/**
 * ORANGE: #FF8C00 
 * LIME GREEN: #C5F04E
 */

 /* Global Styles */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.container {
  position: relative;
  background-color:#000;
  color: white;
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  text-align: center;
  min-height: 200vh;
}
/* End Global Styles */

/* Header Styles */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  width: 100%;
  position: sticky;
  height: 88px;
}

header h1 {
  font-size: 1.5rem;
  padding-top:3rem;
  color: #FF8C00;
}

header h1::before {
  content: " ";
  background-image: url('../images/icon-barbell.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  right:0;
  top: 15px;
  height: 30px;
}
/* End Header Styles */

/* Footer Styles */
footer {
  color: white;
  position: fixed;
  bottom:0;
  background-color: #C5F04E;
  width: 100%;
  max-width: 1152px;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

footer a {
  color: transparent;
  font-size: 0.7rem;
  /* border: 1px solid red; */
  text-transform: uppercase;
  text-decoration: none;
  height: 60px;
  /* width: 100%; */
}

footer a:nth-of-type(1) {
  content: " ";
  display:block;
  background-image: url('../images/icon-friends-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

footer a:nth-of-type(2) {
  width:25%;
  content: " ";
  display:block;
  background-image: url('../images/icon-pr-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

footer a:nth-of-type(3) {
  content: " ";
  display:block;
  background-image: url('../images/icon-workouts-grey.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

footer a:nth-of-type(4) {
  content: " ";
  display:block;
  background-image: url('../images/icon-activity-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

footer a:nth-of-type(5) {
  content: " ";
  display:block;
  background-image: url('../images/icon-more-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* End Footer Style */

.icon-profile {
  margin-left: 10px;
  justify-self: start;
  width: 60px;
  height: 60px;
  padding-top:15px;
  text-decoration: none;
  color: #FF8C00;
  font-weight: 500;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
  border: 2px solid #FF8C00;
}

.btn-new {
  background: transparent;
  border: none;
  background-image: url('../images/button-add-green.svg');
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  justify-self: end;
  margin-right: 10px;
  height: 60px;
  width: 60px;
}