/**
 * ORANGE: #FF8C00 
 * LIME GREEN: #C5F04E
 * GREY: #AAAAAA
 */

 /* Global Styles */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}
button {
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: #000;
}

.limegreen {
  color: #C5F04E;
}

.container {
  background-color:#000;
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  text-align: center;
}
/* End Global Styles */

/* Header Styles */
header {
  width: 100%;
  max-width: 1152px;
  position: fixed;
  top:0;
  background:#000;
  z-index: 100;
}
/* End Header Styles */

/* Top Bar */
.top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 70px;
}
.top-bar h1 {
  font-size: 1.2rem;
  padding-top:2rem;
  color: #FF8C00;
}
/* End Top Bar */

.title-workout::before {
  content: " ";
  background-image: url('../images/icon-barbell-25x25-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  right:0;
  top: -1rem;
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
}

.icon-profile {
  margin-left: 10px;
  justify-self: start;
  width: 40px;
  height: 40px;
  padding-top:9px;
  text-decoration: none;
  color: #FF8C00;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
  align-self: center;
  border: 2px solid #FF8C00;
}

.btn-new {
  background: transparent;
  border: none;
  background-image: url('../images/button-add-green.svg');
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  justify-self: end;
  margin-right: 10px;
  padding: 20px;
  cursor: pointer;
}

/* Search Bar */
.search-bar {
  text-align: left;
  margin:1rem;
  border: 2px solid #AAAAAA;
  border-radius: 5px;
}

.search-bar button {
  background-image: url('../images/icon-search-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 0.4rem;
  height: 44px;
  color:transparent;
  background-color: transparent;
  border:none;
}

.search-bar input {
  background-color: transparent;
  font-size: 1.5rem;
  color:#AAAAAA;
  margin-top:0.4rem;
  border: none;
  outline:none;
}

/* End Search bar */

/* Workout Container */
.workouts-container {
  text-align: left;
  margin: 152px 1rem 1rem 1rem;
  padding-top:20px;
  padding-bottom:70px;
}
/* End Workout Container */

/* Workout */
.workout {
  padding: 30px 0 10px;
  border-bottom: 1px solid #FF8C00;
}

.workout:first-of-type {
  padding-top:0;
}
.workout-top-band {
  display: grid;
  grid-template-columns: 120px 100px 200px;
  margin-bottom: 10px;
}

.modality {
  list-style: none;
}

.modality li {
  display: inline-block;
  color: transparent;
  height:30px;
  width:30px;
}

.modality-w {
  background-image: url('../images/modality-weightlifting.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.modality-m {
  background-image: url('../images/modality-monostructural.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.modality-g {
  background-image: url('../images/modality-gymnastics.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.workout-frequency {
  align-self: center;
}
.workout-frequency > span {
  border: 1px solid #C5F04E;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9rem;
  color: #FF8C00;
}

.workout-last-performed p{
  font-size: 0.9rem;
  color: #FF8C00;
  position: relative;
  margin: 5px 0 0 30px;
}

.workout-last-performed p::before {
  content:" ";
  background-image: url('../images/calendar-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
  display: block;
  position: absolute;
  margin-left: -25px;
  margin-top: -4px;
  
}

.workout-detail {
  font-size: 1.4rem;
}

.workout-detail h2 {
  color: #C5F04E;
  font-size:1.6rem;
  margin-bottom: 10px;
}
.workout-detail p {
  margin-bottom: 10px;
  color: #dedede
}

/* End Workout */

/* Footer Styles */
footer {
  color: white;
  position: fixed;
  bottom:0;
  background-color: #C5F04E;
  width: 100%;
  max-width: 1152px;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

footer a {
  color: #FF8C00;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-decoration: none;
  align-self: baseline;
}

footer a:nth-of-type(1)::before {
  content: " ";
  display:block;
  background-image: url('../images/icon-friends-25x25-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 2.2rem;
}

footer a:nth-of-type(2)::before {
  content: " ";
  display:block;
  background-image: url('../images/icon-pr-25x25-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 1.8rem;
}

footer a:nth-of-type(3)::before {
  content: " ";
  display:block;
  background-image: url('../images/icon-barbell-25x25-grey.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 3rem;
}
footer a:nth-of-type(3) {
  color: #AAAAAA;
}

footer a:nth-of-type(4)::before {
  content: " ";
  display:block;
  background-image: url('../images/icon-fitness-log-25x25-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 2rem;
}

footer a:nth-of-type(5)::before{
  content: " ";
  display:block;
  background-image: url('../images/icon-more-25x25-orange.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 2rem;
}
/* End Footer Style */

/* Slide Up Modal Container */
.slide-up-modal-container {
  background-color: #ccc;
  position: fixed;
  overflow:auto;
  height: 100%;
  top:100%;
  left:0;
  right:0;
  transition: transform 0.5s ease-in-out 0s;
  z-index: 110;
}
/* End Slide Up Modal Container */

/* Slide Left Modal Container */
.slide-left-modal-container {
  background-color: #ccc;
  position: fixed;
  overflow:auto;
  height: 100%;
  width: 100%;
  top:0;
  left:100%;
  transition: transform 0.5s ease-in-out 0s;
  z-index: 120;
}
/* End Slide Left Modal Container */

.modal-content {
  background-color: #000;
  height: 100%;
  max-width: 1152px;
  margin: 0 auto;

}

.modal-content-top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 70px;
  /* border-bottom: 1px solid #AAAAAA; */
}

.modal-content-top-bar h1 {
  font-size: 1.2rem;
  padding-top:2rem;
  color: #FF8C00;
  text-align: center;
}
.modal-content-top-bar-right-btn {
  background-color: transparent;
  color: #AAAAAA;
  justify-self: flex-end;
  margin-right: 10px;
  font-size: 1.2rem;
  outline:transparent;
  border: none;
}
.cancel-slide-up-modal-btn{
  color: #FF8C00;
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 5px 0 0 5px;
}

.cancel-slide-left-modal-btn {
  background-image: url('../images/icon-chevron-left-25x25-orange.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  outline: none;
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  align-self: center;
}

.modal-btn-grid {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
}

.modal-btn-grid button {
  width: 100%;
  max-width: 420px;
  padding: 25px;
  margin: 5px auto;
  border: 1px solid #FF8C00;
  border-radius: 3px;
  color: #C5F04E;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
}

.modal-btn-grid button::after {
  content: '';
  background-image: url('../images/icon-chevron-right-25x25-orange.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2.5rem;
  width: 2.5rem;
  display: block;
  position: absolute;
  top: 15px;
  right: 20px;
}

#new-workout-modal-btn::before {
  content: '';
  background-image: url('../images/icon-barbell-25x25-orange.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: 75px;
  top: -3px;
}

#new-log-modal-btn::before {
  content: '';
  background-image: url('../images/icon-fitness-log-25x25-no-fill.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: 125px;
  top: 15px;
}
/* End Choose a task dialog box */
