/** 
Colors used 
#ddd
#eee
#454545
#brown
#000
#aaa
green

Sky Blue Crayola - #5adbff
Red RYB - #F4442E
Raisin Black - #1E1E24
Neon Blue - #6874E8
Bitter Lime - #CAFE48
**/

:root {
  --main-color: #5adbff;
  --secondary-color: #6874eb;
  --text-color: #1e1e24;
  --btn-primary: #5adbff;
  --btn-delete: #f4442e;
  --big-font-size: 1rem;
  --normal-font-size: 1rem;
  --small-font-size: 1rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--text-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.top-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
}

.top-bar > div:first-of-type {
  padding-left: 10px;
}

.top-bar > div:last-of-type {
  padding-right: 10px;
}

.page-title {
  color: var(--main-color);
  font-size: 1.2rem;
}

.profile-icon {
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 600;
}

.top-bar-menu > a {
  text-decoration: none;
  color: var(--text-color);
}
.container {
  margin: 10px auto;
  padding: 0 15px;
  max-width: 900px;
}

/** Calendar **/
.calendar-month-control-bar,
.selected-day-control-bar {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  border: 1px solid #ddd;
  background-color: var(--main-color);
}
.calendar-month-control-bar > div:first-of-type,
.selected-day-control-bar > div:first-of-type {
  font-weight: 600;
  font-size: 1rem;
  padding-left: 10px;
}
.calendar-month-control-bar > div:nth-of-type(2),
.selected-day-control-bar > div:nth-of-type(2) {
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
}
.calendar-month-control-bar > div:last-of-type,
.selected-day-control-bar > div:last-of-type {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  font-size: 1.1rem;
  padding: 3px;
}

.date-cell {
  padding: 5px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
.date-cell.header {
  color: var(--main-color);
}
.prev-month,
.next-month {
  color: #aaa;
}

.selected-date-cell {
  color: var(--main-color);
}
.day-has-log {
  border: 1px solid var(--main-color);
}

.month-control,
.day-control {
  font-size: 2rem;
  padding: 5px;
  border: none;
}

#today-btn {
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
}
/** End Calendar **/
.day-detail-container {
  max-width: 100vw;
  word-wrap: break-word;
  font-size: 1.2rem;
}

.no-logs {
  text-align: center;
  margin-top: 10px;
}
.day-log-detail {
  padding: 10px;
}

.hide-view {
  display: none;
}

.show-view {
  display: block;
}

.add-log-btn-bar-calendar-view {
  margin: 10px;
}

#add-log-btn-calendar-view,
#select-workout-btn-wolog {
  width: 100%;
  border: 1px solid var(--btn-primary);
  border-radius: 5px;
  height: 2.5rem;
  font-size: 1.3rem;
  color: var(--btn-primary);
}

.day-log-detail-container-calendar-view {
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid var(--main-color);
}

.day-log-detail-container-calendar-view:first-of-type {
  border-top: 1px solid var(--main-color);
}

.day-log-detail-container-calendar-view-btn-bar {
  text-align: right;
}

.day-log-detail-edit-btn {
  border: 1px solid var(--btn-primary);
  border-radius: 5px;
  height: 2rem;
  width: 5rem;
  font-size: 0.8rem;
  color: var(--btn-primary);
}

.day-log-detail-delete-btn {
  border: 1px solid var(--btn-delete);
  border-radius: 5px;
  height: 2rem;
  width: 5rem;
  font-size: 0.8rem;
  color: var(--btn-delete);
}

.modal-container {
  background-color: rgba(240, 240, 240, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  border: 1px solid var(--main-color);
  max-width: 95vw;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  font-size: 1.2rem;
}

.modal-dialog-btn-bar {
  margin-top: 20px;
  text-align: center;
}

.modal-dialog-btn-bar button {
  border-radius: 5px;
  height: 2.5rem;
  width: 5.5rem;
  font-size: 1.2rem;
}
.modal-dialog-btn-bar button.delete {
  border: 1px solid var(--btn-delete);
  color: var(--btn-delete);
}

.modal-dialog-btn-bar button.cancel {
  border: 1px solid var(--btn-primary);
  color: var(--btn-primary);
}

/** Form **/

.form-container {
  padding: 10px;
  font-size: var(--big-font-size);
  /* color: var(--main-color); */
}

.form-flex-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.form-group-label {
  margin-right: 10px;
}
.form-input-group {
  position: relative;
}

.form-input {
  height: 52px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 0;
  font-size: var(--big-font-size);
  border: none;
  border: 1px solid #d2d2d7;
  outline: none;
  border-radius: 5px;
  color: var(--text-color);
  box-shadow: none;
  text-shadow: none;
}

.form-input:focus,
.form-input:active {
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}
.duration-input {
  padding-left: 0;
  width: 52px;
  text-align: center;
  margin-right: 15px;
}

.rounds-input {
  margin-right: 10px;
  width: 70px;
}
.wolog-exercise-input {
  width: 280px;
}

.form-input::placeholder {
  visibility: hidden;
}
.form-label {
  position: absolute;
  top: 17px;
  left: 5px;
  color: #d2d2d7;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-size: var(--big-font-size);
}
.duration-label {
  left: 20px;
}
.rounds-label {
  top: 17px;
}

.date-label {
  left: 8px;
}

.show-time-separator {
  position: relative;
}

.show-time-separator::after {
  content: ':';
  position: absolute;
  right: 5px;
  top: 16px;
  font-size: var(--big-font-size);
}

.form-input:focus ~ label,
.form-input:not(:placeholder-shown) ~ label {
  color: var(--main-color);
  top: 5px;
  font-size: var(--normal-font-size);
}

.margin-bottom-15px {
  margin-bottom: 15px;
}
.margin-bottom-5px {
  margin-bottom: 5px;
}
.margin-top-5px {
  margin-top: 5px;
}
.margin-top-10px {
  margin-top: 10px;
}
.margin-left-5px {
  margin-left: 5px !important;
}

.copy-btn {
  display: block;
  background-image: url('../images/baseline_content_copy_black_24dp.png');
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  margin-left: 5px;
  border: none;
}

.remove-btn {
  background: url(../images/outline_remove_circle_outline_black_24dp.png);
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: none;
  flex: 0 0 24px;
  margin-right: 5px;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}
.flex-align-self-center {
  align-self: center;
}

.flex-width-100 {
  width: 100%;
}
#wolog-date {
  padding-left: 8px;
  font-size: 1.2rem;
  font-family: inherit;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
#wolog-location {
  width: 80vw;
}
#wolog-notes {
  width: 80vw;
  height: 90px;
  padding-top: 25px;
}

.block-with-border {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  padding-top: 25px;
}
.block-with-border-label {
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: var(--big-font-size);
  color: var(--main-color);
}
.block-with-border-switch {
  position: absolute;
  top: 3px;
  right: 3px;
}
.summary {
  border: none;
  outline: none;
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.2rem;
}

.workout-detail-view {
  padding: 10px;
  margin-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch.small {
  width: 40px;
  height: 24px;
  margin-right: 5px;
  margin-left: 10px;
}
.switch.small:first-of-type {
  margin-left: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.small:before {
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
}

.switch input:checked + .slider {
  background-color: #2196f3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch input:checked + .slider.small:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.small.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
select:disabled {
  background-color: #aaa;
}
/***Not yet incorporated in the main code***/

input:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
input:disabled ~ label {
  color: darkgray;
}

.wolog-exericse-add-btn {
  display: none;
  position: absolute;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 48px;
  top: 2px;
  right: 2px;
  font-size: 1rem;
  z-index: 1000;
  background-color: var(--btn-primary);
}
.autocomplete-exercise-list {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-exercise-list div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-exercise-list div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* End - Not yet incorporated in the main code */
